[mysqld]
# Options for mysqld process:
ndbcluster                      # run NDB storage engine

[mysql_cluster]
# Options for NDB Cluster processes:
ndb-connectstring={{ groups['mysql_cluster_mgm'] | join(",") }}  # location of management server

